name: Train and Save Model

on:
  workflow_dispatch:
    

jobs:
  train:
    runs-on: ubuntu-latest
    environment: Dev
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: Trigger Azure Machine Learning Job to train
      run: | 
       az ml job create --file src/job.yml --resource-group rg-dev-mlops --workspace-name mlw-dev-mlops
           - uses: Azure/aml-registermodel@v1
    - name: register model
      with:
        # required inputs
        azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
        run_id:  ${{ steps.aml_run.outputs.run_id }}
        experiment_name: ${{ steps.aml_run.outputs.experiment_name }}
        # optional inputs
        parameters_file: "registermodel.json"
       
  
    
